/* Retirei da página do Google Font para usar uma fonte baixada aqui no computador/servidor*/
@font-face {
    font-family: "Spacemono"; /* Nome que você vai usar no site */
    src: url("../fonte/SpaceMono-Regular.ttf") format("truetype"); /* Caminho para o arquivo */
    font-weight: normal;
    font-style: normal;
}


html,
body {
    margin: 0;
    padding: 0;
    background-image: url("../img/fundo_vazado.png");
    /* Faz a imagem cobrir toda a tela */
    background-size: cover;
            
    /* Centraliza a imagem */
    background-position: center;
    
    /* Evita que a imagem se repita */
    background-repeat: no-repeat;
    
    /* Fixa a imagem para não rolar com a página (opcional) */
    background-attachment: fixed;

}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
}

.texto_menu{
  font-family: "Spacemono", sans-serif;
  font-size: 80px;
  background-color: blue;
  transition: background-color 0.3s; /* Suaviza a mudança */  
}
.texto_menu:hover{
    background-color: chartreuse; /* Cor ao passar o mouse */
}